.menu {
  margin: 0;
  padding: 0;
  display: flex;
}

.menu-item {
  position: relative;
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-size: 15px;
  display: flex;
  align-items: center;
  transition: color 0.1s ease; /* Smooth transition for color change */
}

.menu-item:hover {
  color: rgb(0, 0, 0); /* Change color on hover */
}

.menu-item .arrow {
  margin-top: 7px;
  margin-left: 5px;
  font-size: 15px;
  transition: transform 0.1s ease; /* Smooth transition for arrow rotation */
}

.menu-item:hover .arrow {
  transform: rotate(180deg); /* Rotate arrow on hover */
}

.dropdown {
  display: block;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%); /* Center align the dropdown */
  min-width: 140px;
  list-style-type: none; /* Remove bullets from the dropdown menu */
  margin-left: 2%;
  padding: 10px 0;
  padding-top: 0px;
  padding-bottom: 0%;
  border-radius: 10px; /* Rounded corners */
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease; /* Smooth transition for visibility */
}

.menu-item:hover .dropdown {
  opacity: 1;
  visibility: visible;
}

.dropdown-item {
  padding: 12px 16px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.253); /* Slightly more opaque background */
  color: #000000;
  transition: background-color 0.2s ease, color 0.3s ease; /* Smooth transition for background and color */
}

.dropdown-item:hover {
  background-color: rgba(5, 142, 10, 0.3); /* Background color on hover */
  color: white; /* Text color on hover */
}

.dropdown-item a{
  color: white;
}
.dropdown-item a :visited{
  color: white;
}
