.add-location-container,
.update-location-container {
    display: flex;
    height: 100vh;
    width: 100vw;
    color: black;
    font-family: 'Nunito';
    
}
.LocationTitle{
    color: #068727;
}
.form-sidebar-container {
    width: 400px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    /* box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); */
    overflow-y: auto;
    background: #e9f7ef;
}
.produce-inputs{
    
}
.add-location-form,
.add-field-form,
.update-location-form {
    background: #e9f7ef;
    padding-left: 10px;
    padding-right: 20px;
    /* margin: 20px auto; */
    border-radius: 8px;
    max-width: 400px;
}
input{
    font-family: 'Nunito';
}
.form-control {
    margin-bottom: 15px;
}

.form-control label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-control input,
.form-control select,
.form-control textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #a5a5a5;
    border-radius: 4px;
    font-size: 0.8rem;
    background: #ffffff;
}

.form-control input:focus,
.form-control select:focus,
.form-control textarea:focus {
    background: #fff;
}

.btn {
    display: inline-block;
    background: #068727;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 10px;
}

.btn:hover {
    background: #7fe07fc6;
    color: black;
}

.notification {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #e7f7e7;
    color: #2e662e;
}

.map-container {
    flex: 1;
    position: relative;
    height: 100vh;
}

.leaflet-container {
    height: 100%;
    width: 100%;
}