.add-location-container,
.update-location-container {
    display: flex;
    height: 100vh;
    width: 100vw;
    color: black;
}

.form-sidebar-container {
    width: 400px;
    /* Adjust width as needed */
    background: #f4f4f4;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
}

.add-location-form,
.add-field-form,
.update-location-form {
    background: #f4f4f4;
    padding: 20px;
    margin: 20px auto;
    border-radius: 8px;
    max-width: 400px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.form-control {
    margin-bottom: 15px;
}

.form-control label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-control input,
.form-control select,
.form-control textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

.btn {
    display: inline-block;
    background: #28a745;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 10px;
}

.btn:hover {
    background: #7fe07f;
}

.notification {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #e7f7e7;
    color: #2e662e;
}

.map-container {
    flex: 1;
    position: relative;
}

.leaflet-container {
    height: 100%;
    width: 100%;
}