.add-location-container,
.update-location-container {
    display: flex;
    height: 100vh;
    width: 100vw;
    font-family: 'Nunito', sans-serif;
}

.LocationTitle {
    color: #068727;
    font-size: 1.5rem; /* Larger, more noticeable title */
    margin-bottom: 15px;
}

.form-sidebar-container {
    width: 400px;
    padding: 20px;
    background: var(--background-color);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    overflow-y: auto;
    background-color: var(--background-color);
}

.add-location-form,
.add-field-form,
.update-location-form {
    background: var(--foreground-color); 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Light shadow */
    max-width: 400px;
    margin-bottom: 20px; /* Added spacing */
}

input {
    font-family: 'Nunito', sans-serif;
}

.form-control {
    margin-bottom: 20px; /* Increased spacing for better readability */
}

.form-control label {
    display: block;
    margin-bottom: 8px; /* Slightly larger spacing */
    font-weight: bold;
    color: #05631c; /* Complementary color */
}

.form-control input,
.form-control select,
.form-control textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid var(--border-color);
    border-radius: 6px;
    font-size: 0.8rem; 
    background: var(--foreground-color);
    transition: border 0.3s, box-shadow 0.3s;
    color: var(--text-color);
}

.form-control input:focus,
.form-control select:focus,
.form-control textarea:focus {
    border-color: #068727;
    outline: none;
    box-shadow: 0 0 5px rgba(6, 135, 39, 0.3); /* Subtle glow effect */
}

.btn {
    display: inline-block;
    background: #068727;
    color: white;
    padding: 8px 10px; /* Slightly larger padding */
    border: none;
    border-radius: 8px; /* Softer corners */
    cursor: pointer;
    font-size: 1rem;
    margin-top: 15px; /* More space from form elements */
    transition: background 0.3s, transform 0.2s;
}

.btn:hover {
    background: #7fe07fc6;
    color: black;
    transform: translateY(-2px); /* Small lift effect */
}

.notification {
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background: #e7f7e7;
    color: #2e662e;
    font-size: 0.9rem; /* Balanced font size */
}

.map-container {
    flex: 1;
    position: relative;
    height: 100vh;
    overflow: hidden; /* Smooth edges for embedded maps */
}

.leaflet-container {
    height: 100%;
    width: 100%;
}

.home-button{
    color: var(--text-color);
    font-weight: 700;
    margin-top: 30px;
    cursor: pointer;
    width: fit-content;
}
.home-button:hover{
    color: #05631c;
}

.produce{
    margin-top: 10px;
}