.MainMap{
    width: 100vw;
    height: 100vh;
    display: flex;
}

.back-button {
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    color: var(--text-color);
    border: none;
    cursor: pointer;
    margin-bottom: 15px;
    width:fit-content
  }
  
  .back-button:hover {
    color: #046b1e;
  }
  
  .back-button svg {
    margin-right: 5px;
  }
  

.filter-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: var(--background-color);
    border-radius: 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    padding-top: 30px;
}

.search-section{
    background-color: var(--foreground-color); 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); 
    max-width: fit-content;
    margin-bottom: 20px;
    margin-top: 10px;
    color: var(--text-color);
}

.filtered-results h4{
    color: var(--text-color);
}

.search-bar {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
    width: 100%;
}

.search-bar input {
    padding: 8px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    margin-right: 10px;
    flex: 1;
    color: var(--text-color);
}

.search-bar input:focus {
    border-color: #068727;
    outline: none;
    box-shadow: 0 0 5px rgba(6, 135, 39, 0.3); /* Subtle glow effect */
}

.search-bar button {
    padding: 8px 8px ;
    border: none;
    background: #05631c; /* Green button */
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 13px;
}

.search-bar button:hover {
    background: #022712; /* Darker green on hover */
}

.filters {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.filter-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.filter-group h3 {
    margin: 0;
    font-size: 18px;
    color: #05631c; 
    margin-top: 10px;
}

.select-group {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

select {
    padding: 8px;
    border: 1px solid var(--border-color);
    border-radius: 7px;
    flex: 1;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    color: var(--text-color);
    font-size: 12px;
}

select:focus {
    border-color: #068727;
    outline: none;
    box-shadow: 0 0 5px rgba(6, 135, 39, 0.3); /* Subtle glow effect */
}

.delete-button,
.update-button {
    display: inline-block;
    padding: 10px 15px;
    margin: 5px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.delete-button {
    background-color: #ff1900;
    color: white;
}

.update-button {
    background-color: #05631c;
    color: white;
}

.delete-button:hover,
.update-button:hover {
    opacity: 0.8;
}

.mainSideBar {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.mainSideBar-button {
    flex: 1;
    display: block;
    padding: 3px;
    background: #05631c; /* Green button */
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.mainSideBar-button a, .mainSideBar-button a:visited {
    color: white;
    text-decoration: none;
}

.mainSideBar-button:hover {
    background: #022712; /* Darker green on hover */
}

/* Add styles for the MapContainer if needed */
.map-container {
    border-radius: 10px; /* Match the border-radius with filter-container */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */}

.leaflet-control-geocoder-form input {
    color: black!important;
}
