.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 auto;
  margin-top: 100px;
  max-width: 1200px;
  padding: 40px 20px;
  /* background: linear-gradient(145deg, #001103, #1c4324); */
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  color: #ffffff;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mainTitle {
  font-size: 3rem;
  color: #ffffff;
  text-shadow: 0 4px 6px rgba(221, 213, 213, 0.2);
}

.subTitle {
  font-size: 1.6rem;
  font-weight: 400;
  color: #ffffff;
  opacity: 0.9;
}

.brandImage {
  max-width: 140px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.brandImage:hover {
  transform: scale(1.1);
  opacity: 0.8;
}

.description {
  font-size: 0.9rem;
  text-align: center;
  line-height: 1.8;
  margin: 0 auto;
  margin-bottom: 10px;
  max-width: 800px;
}

.cardDiv{
  padding-left: 50px;
  padding-right: 20px;
  margin: 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

@media (max-width: 640px) {
  .cardDiv{
    padding: 0;
    align-self: center;
  }
}