:root{
    --background-color: #000000;
    --foreground-color:rgb(255, 255, 255);
    --primary-text-color:rgb(255, 255, 255);
    --secondary-text-color:rgb(255, 255, 255);
    --text-color: black;
    --color-text:black;
    --toggle-bg: rgb(249, 249, 167);
    --toggle-fg: yellow;
}
    /* DARK MODE */
[data-theme='dark']{
    --background-color: #2d2d2d;
    --foreground-color:rgb(0, 0, 0);
    --primary-text-color:rgb(179, 178, 178);
    --secondary-text-color:#136b04;
    --text-color:white;
    --color-text:rgb(222, 222, 222);
    --toggle-bg: rgba(248, 249, 204, 0.769);
    --toggle-fg: yellow;
    --border-color: white;
}
    /* LIGHT MODE */
[data-theme='light']{
    --background-color: #f5f5f5;
    --foreground-color:rgb(255, 255, 255);
    --primary-text-color:rgb(0, 0, 0);
    --secondary-text-color:#02570a;
    --toggle-bg: rgb(1, 1, 19);
    --toggle-fg: #03A9F8;
} 

[data-theme='grey']{
    --background-color: #f0f0f0;
    --foreground-color:rgb(255, 255, 255);
    --primary-text-color:rgb(0, 0, 0);
    --secondary-text-color:rgb(0, 0, 0);
    --toggle-bg: rgb(1, 1, 19);
    --toggle-fg: rgb(0, 208, 255);
}

[data-theme='mapping']{
    --background-color: #e9f7ef;
    --foreground-color:rgb(255, 255, 255);
    --primary-text-color:rgb(0, 0, 0);
    --border-color: #a5a5a5;
    --secondary-text-color:#02570a;
    --toggle-bg: rgb(1, 1, 19);
    --toggle-fg: #03A9F8;
}