.background {
  display: flex;
  flex-direction: column;
  background: url('/src/Components/Images/background.png');
  overflow: hidden;
  color: #fff;
  background-size: cover;
  position: absolute;
  inset: 0;
}
  
  @media (max-width: 991px) {
    .home-container {
      padding: 0 20px;
    }
  }
  
  .Login {
    position: relative;
    border-radius: 10px;
    border-color: rgba(255, 255, 255, 1);
    border-style: solid;
    border-width: 2px;
    background-color: rgba(255, 255, 255, 0);
    align-self: flex-end;
    text-align: center;
    text-transform: uppercase;
    justify-content: center;
    padding: 5px 19px;
    font: 420 15px Inter, sans-serif;
    margin-top: 2%;
    margin-right: 8%;
  }

  .Login a{
    text-decoration: none;
    color:white; 
  }
  .Login a:visited{
    color: white;
  }
  
  .Login a:visited:hover{
    color:rgb(3, 146, 29);
  }

  @media (max-width: 991px) {
    .login-button {
      padding: 0 20px;
    }
  }
  
  .body {
    position: relative;
    border-radius: 30px;
    border: 1px solid #2f4724;
    background: linear-gradient(
      114deg,
      rgba(36, 66, 43, 0.5) 0%,
      rgba(63, 118, 54, 0.5) 98.66%
    );
    backdrop-filter: blur(20px);
    display: flex;
    width: 80%;
    height: 80%;
    flex-direction: column;
    margin: 24px 0 0 20px;
    padding: 7pt 10px 5pt;
    margin-left: 8.5%;
    margin-top: 1.5%;
  }
  
  @media (max-width: 991px) {
    .content-container {
      max-width: 100%;
      padding: 0 20px;
    }
  }
  
  .Header {
    display: flex;
    width: 100%;
    gap: 20px;
  }
  
  @media (max-width: 991px) {
    .header {
      max-width: 100%;
      flex-wrap: wrap;
      padding-right: 20px;
    }
  }
  
  .Supply2u {
    flex-grow: 1;
    flex-basis: auto;
    font: 500 35px KoHo;
    margin-top: 2%;
    margin-left: 1.7%;
  }
  
  @media (max-width: 991px) {
    .Supply2u {
      font-size: 40px;
    }
  }
  
  .Nav {
    align-self: start;
    margin-top: 0;
    gap: 22px;
    font-size: 17px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
    margin-right: 3%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
  }

  .Nav a{
    text-decoration: none;
  }

  .Nav a:hover{
    color:#000000
  }

  .Nav a:visited{
    color: rgb(255, 255, 255);
  }
  .Nav a:visited:hover{
    color: black;
  }
  
  @media (max-width: 991px) {
    .nav a {
      flex-wrap: wrap;
    }
  }
  
  .OurServices {
    align-self: start;
    display: flex;
    gap: 0px;
  }
  
  .img2 {
    object-fit: auto;
    object-position: center;
    width: 27px;
    align-self: start;
    margin-top: -1px;
  }
  
  .MainTitle {
    margin-top: 85px;
    margin-left:2% ;
    font: 400 50px Inter, sans-serif;
  }
  
  @media (max-width: 991px) {
    .MainTitle {
      max-width: 100%;
      margin-top: 40px;
      font-size: 40px;
    }
  }
  
  .description {
    margin-top: 12px;
    margin-left: 2%;
    font: 400 14px Inter, sans-serif;
  }
  
  @media (max-width: 991px) {
    .description {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  
  .GetStarted {
    border-color: white;
    background-color: white;
    align-self: start;
    color: #000;
    justify-content: center;
    border-radius: 10px;
    border-width: 0cap;
    padding: 6px 7px;
    font: 600 14px Inter, sans-serif;
    margin-top: 3%;
    margin-left: 3%;
  }
  .GetStarted a{
    text-decoration: none;
  }
  .GetStarted a:hover{
    color: #136305;
  }

  .GetStarted a:visited{
    color: #000;
  }

.GetStarted a:visited:hover{
  color: #136305;
}

  @media (max-width: 991px) {
    .GetStarted {
      margin-top: 40px;
    }
  }

.img3{
  background: url('/src/Components/Images/leaves.png');
  object-fit: auto;
  object-position: center;
  width: 15px;
  align-self: start;
  margin-top: 10px;
}
