/* src/App.css */
.app {
    display: flex;
    height: 100vh;
  }
  
  
  /* .map-container {
    flex: 1;
    position: relative;
  }
  
  .leaflet-container {
    height: 100%;
    width: 100%;
  } */
  
  .cluster-icon {
    height: 1cm;
    width: 1cm;
    background-color: rgb(83, 175, 83);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    font-size: 1.5rem;
  }
  
  
  