.Homecontainer {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  padding-left: 44px;
  padding-right: 44px;
  /* background-color: #262626; */
}

.Footerheader {
  display: flex;
  width: 100%;
  gap: 20px;
  color: #fff;
  letter-spacing: 0.3px;
  justify-content: space-between;
  padding: 0 2px;
}

@media (max-width: 991px) {
  .Footerheader {
    max-width: 100%;
    flex-wrap: wrap;
  }
}

.Footer-logo-container {
  display: flex;
  align-items: center;
  gap: 0px;
  font-size: 30px;
  }

.Footer-logo {
  width: 30%;
  margin-bottom:-5% ;
}

/* .company-name {
  font-family: Jost, sans-serif;
  align-self: start;
  margin-top: 18vh;
  flex-grow: 1;
  flex-basis: auto;
}

@media (max-width: 991px) {
  .company-name {
    margin-top: 40px;
  }
} */

.nav-links {
  align-self: end;
  display: flex;
  margin-bottom: 1vh;
  gap: 20px;
  font-size: 15px;
  padding: 0 20px;
}

@media (max-width: 991px) {
  .nav-links {
    flex-wrap: wrap;
    margin-top: 40px;
  }
}

.nav-item {
  font-family: Jost, sans-serif;
  flex-grow: 1;
}
/* LINKS */
.nav-item a, .nav-item a:visited{
  color: white;
  text-decoration: none;
}

.nav-item a:hover{
  color: #2a571b;
  transform: scale(2.1);
}
  
.footer {
  display: flex;
  margin-top: 10px;
  max-width: 100vw;
  flex-direction: column;
  font-size: 13px;
  color: #92989f;
  letter-spacing: 0.26px;
  line-height: 0%;
}

@media (max-width: 991px) {
  .footer {
    max-width: 100%;
    padding-left: 20px;
  }
}

.footer a, .footer a:visited{
  color: #92989f;
  text-decoration: none ;
}

.footer a:hover{
  color: white;
}
/* .footer-logo {
  object-fit: auto;
  object-position: center;
  width: 100%;
  stroke-width: 1px;
  stroke: #71777d;
  border-color: rgba(113, 119, 125, 1);
  border-style: solid;
  border-width: 1px;
} */

/* @media (max-width: 991px) {
  .footer-logo {
    max-width: 100%;
  }
} */

.footer-content {
  display: flex;
  margin-top: 25px;
  gap: 20px;
}

@media (max-width: 991px) {
  .footer-content {
    max-width: 100%;
    flex-wrap: wrap;
    margin-top: 40px;
  }
}

.footer-links {
  font-family: Jost, sans-serif;
  flex-grow: 1;
  flex-basis: auto;
}

.footer-text {
  text-align: right;
  font-family: Jost, sans-serif;
  flex-grow: 1;
  flex-basis: auto;
}
