body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.help-container {
  display: flex;
}

.faq-container {
  background-color: #d5e7fb;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  align-items: center;
  
}

.help-container.collapsed .faq-container {
  width: 100%;
}

@media (max-width: 991px) {
  .faq-container {
    margin-top: -80%;
    height: 100vh;
    padding: 0;
  }
}

@media (max-width: 390px) {
  .faq-container {
    height: auto;
  }
}

.faq-header {
  align-self: stretch;
  margin-bottom: 20px;
}

@media (max-width: 991px) {
  .faq-header {
    max-width: 100%;
  }
}

.header-content {
  display: flex;
  align-items: center;
}

@media (max-width: 991px) {
  .header-content {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}

.header-image {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 100%;
  margin-left: 5%;
}

@media (max-width: 991px) {
  .header-image {
    width: 100%;
  }
}

.faq-img {
  position: relative;
  object-fit: fill;
  object-position: center;
  width: 50%;
  max-height: 100%;
  flex-grow: 1;
  margin-right: 200px;
}

@media (max-width: 991px) {
  .faq-img {
    width: 50%;
    margin-right: 0;
    margin-top: 640px;
  }
}
@media (max-width: 430px) {
.faq-img{
  width: 30%;
  margin-top: 380px;
}
}

@media (max-width: 390px) {
  .faq-img {
    width: 40%;
    left: 0;
    position: relative;
    object-fit: fill;
    object-position: center;
    flex-grow: 1;
  }
}

.header-title {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 50%;
  margin-left: 20px;
}

@media (max-width: 991px) {
  .header-title {
    width: 100%;
    margin-left: 0;
  }
}

.title-text {
  color: #125490;
  align-self: stretch;
  margin-right: 60px;
  margin-top: 2px;
  font: 700 55px Koh Santepheap, -apple-system, Roboto, Helvetica, sans-serif;
}

@media (max-width: 991px) {
  .title-text {
    margin-top: 40px;
    font-size: 40px;
    margin-left: 40px;
  }
}

.separator {
  border-color: rgba(0, 0, 0, 0.4);
  border-style: none;
  border-width: 1px;
  background-color: rgba(0, 0, 0, 0.4);
  margin-top: 4px;
  margin-bottom: 5px;
  width: 600px;
  max-width: 100%;
  height: 1px;
  margin-right: 0;
  margin-left: 0;
}

.faq-item {
  display: flex;
  margin-top: 20px;
  width: 100%;
  max-width: 726px;
  gap: 20px;
  font-size: 25px;
  color: #000;
  margin-left: 30px;
  font-weight: 10;
  align-items: center;
  cursor: pointer;
}

@media (max-width: 760px) {
  .faq-item {
    max-width: 100%;
    /* flex-wrap: nowrap;  */
  }
  .question1 {
    margin: 0; /* Remove margins for proper alignment */
    flex: 1;
  }
  .drop-down{
    visibility: hidden;
  }
}

.question1 {
  font-family: Koh Santepheap, -apple-system, Roboto, Helvetica, sans-serif;
  flex-grow: 1;
  flex-basis: auto;
  color: #000;
  font-size: 18px;
  margin-top: 10px;
  margin-left: 60px;
  font-weight: bold;
}

@media (max-width: 991px) {
  .question1 {
    margin-right: 5px;
  }
}

.drop-down {
  object-fit: cover;
  object-position: center;
  width: 20px;
  height: 20px;
  margin: auto 0;
  margin-right: 70px;
  fill: #000;
  transition: transform 0.3s ease;
}

.drop-down.open {
  transform: rotate(180deg);
}

.answer {
  width: 600px;
  max-width: 100%;
  padding: 5px 10px;
  color: #333;
  font-size: 15px;
  font-family: Koh Santepheap, -apple-system, Roboto, Helvetica, sans-serif;
  border-radius: 5px;
  margin: 5px auto;
}

::-webkit-scrollbar-thumb:hover {
  background: #949393; /* Color of the scrollbar thumb when hovered */
}

/* Sidebar and Toggle Button */
.sidebar {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 25%;
  height: 100vh;
  background-color: var(--foreground-color);
  color: var(--primary-text-color);
  transition: transform 0.3s ease;
  transform: translateX(-100%);
  z-index: 10;
}

.sidebar.visible {
  transform: translateX(0);
}

@media (min-width: 992px) {
  .sidebar {
    transform: translateX(0);
  }
}

/* Sidebar Toggle Button */
.sidebar-toggle {
  position: fixed;
  top: 20px;
  left: 20px;
  font-size: 22px;
  color: white;
  cursor: pointer;
  z-index: 11;
  display: none;
}

.sidebar-toggle:hover {
  color: #3B6727;
}

@media (max-width: 991px) {
  .sidebar-toggle {
    display: block;
  }
}

/* Content Styles */
.content {
  width: 100%;
  transition: margin-left 0.3s ease;
}

@media (min-width: 992px) {
  .content.sidebar-open {
    margin-left: 25%;
  }
}
