body {
  margin: 0;
  font-family: Arial, sans-serif;
  animation: gradientAnimation 15s ease infinite;
}

.landing-page {
  color: #fff;
  text-align: center;
  padding: 20px;
  min-height: 100vh;
}

.header h1 {
  margin: 0;
  padding: 5px 0;
  font-size: 26px;
}

.green-text {
  color: #3B6727;
}

.columns-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px 0;
  margin-top: 30px;
  position: relative;
}

.column {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 27%; 
  margin-left: 20px;
  position: relative;
}
@media (max-width: 991px) {
  .column {
    width: 100%; 
    margin-left: 0;
  }
}
.watermark {
  position: absolute;
  top: 30%;
  left: -300px;
  transform: translateY(-50%) rotate(-90deg);
  font-size: 100px;
  color: rgba(255, 255, 255, 0.2);
  pointer-events: none;
}
.horizontal-watermark {
  position: absolute;
  font-weight: 600;
  top: 45%;
  bottom: 10px;
  right: -75%;
  font-size: 85px;
  color: rgba(255, 255, 255, 0.164);
  pointer-events: none;
  z-index: 1;
}

.left-column h2 {
  margin: 5px 0 20px 0;
  font-size: 20px;
  text-align: left;
}

.right-column h2 {
  margin: 5px 0 20px 100px;
  font-size: 20px;
  text-align: left;
}

.left-column p {
  margin: 0;
  line-height: 1.5;
  gap: 5px;
  text-align:justify;
  width: 23vw;
}

.LandingContent {
  font-size: 14px;
  margin-top: 2vh;
}

.white-separator {
  position: absolute;
  left: 54%; 
  transform: translateX(-50%);
  width: 0.5px; 
  height: 80%; 
  top: 7.5%;
  background-color: #fff; 
  margin-left: -0.8vw;
}

.right-column img {
  width: 30px;
  height: 30px;
  margin-left: 5px;
  margin-bottom: -3%;
}

.solutions {
  padding: 40px 0;
}

.solutions-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; 
  width: 85%;
  margin-left: 6.5vw;
}

.solution {
  position: relative;
  flex: 1;
  text-align: center;
  margin: 0;
  padding: 0;
}

.solution img {
  width: 100%; 
  height: 75%; 
  object-fit: cover; 
}

.solution p {
  position: absolute;
  bottom: 0;
  margin-top: 10px;
  left: 35%;
  transform: translateX(-50%);
  font-weight: bold;
  margin-bottom: 140px;
  padding: 10px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7); 
  box-sizing: border-box;
  text-align: left;
}

.Icons {
  align-items: center;
}

.Icons p {
  font-size: 15px;
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}
