.LoginContainer {
  display: flex;
  gap: 100px;
  background-color: #fff;
  height: 100vh;
}

.Logincolumn {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 50%;
}

.CreateAccount {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  color: #fff;
  align-items: center;
}

.Loginimg-1 {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 45%;
  object-fit: fill;
  object-position: center;
  background: url("/src/Images/Login.jpeg") no-repeat;
  background-size: cover;
}

.Create {
  position: relative;
  margin-top: 50%;
  font: 500 25px Inter, sans-serif;
}

.Signup {
  position: relative;
  border-radius: 30px;
  border: 2px solid #fff;
  background-color: rgba(17, 89, 5, 0);
  margin-top: 30px;
  justify-content: center;
  padding: 8px 22px;
  font: 600 18px Inter, sans-serif;
}

.Signup a {
  text-decoration: none;
  color: white;
}

.Signup a:hover {
  color: #136b04;
}

.Signup a:visited {
  color: white;
}

.Signup a:visited:hover {
  color: #136b04;
}

.Logincolumn-2 {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-right: 3vw;
  height: auto;
}

.Auth {
  display: flex;
  flex-direction: column;
  color: #000;
  margin-top: 8vh;
  padding: 0 100px;
}

.Login-title {
  font: 600 30px Inter, sans-serif;
  margin-bottom: 7vh;
}

input[type="email"], input[type="password"] {
  padding: 4px;
  border: none;
  border-radius: 0;
  font-size: 16px;
  outline: none;
  margin-left: 1vw
}

input[type="email"]::placeholder, input[type="password"]::placeholder {
  color: #000;
}

.Line1 {
  background-color: #000;
  height: 2px;
}

.Password {
  margin-top: 70px;
  font: 13px Kdam Thmor, sans-serif;
}

.Forgot a {
    text-decoration: none;
    color: #0c3e03;
    letter-spacing: -0.72px;
    align-self: end;
    margin-top: 3vh;
    margin-left: 73.5%;
    font: 24px Kdam Thmor, sans-serif;
    font-size: 15px;
}

.LoginButton {
  font-family: Inter, sans-serif;
  border-radius: 30px;
  border: 1px solid;
  background-color: #136b04;
  align-items: center;
  color: #fff;
  font-weight: 500;
  font-size: 15px;
  justify-content: center;
  margin-top: 45px;
  padding: 6px 175px;
  cursor: pointer;
  text-decoration: none;
}

.LoginButton a {
  text-decoration: none;
}

.LoginButton:visited {
  color: white;  
}

.Or {
  font-family: Inter, sans-serif;
  font-weight: 600;
  font-size: 17px;
  align-self: center;
  margin: 30px 0;
}

.SigninWithGoogle {
  border-radius: 10px;
  border: 1.5px solid #000;
  display: flex;
  gap: 20px;
  padding: 3px;
  width: 30vw;
  align-self: center;
  cursor: pointer;
}

.Loginimg-2 {
  aspect-ratio: 2;
  object-position: center;
  width: 20px;
  margin-left: 20%;
  margin-top: 2px;
}

.Google {
  font-family: Inter, sans-serif;
  align-self: start;
  margin-top: 2.5px;
  flex-grow: 1;
  font-weight: 500;
  font-size: 17px;
}

.Loginimg-3 {
  width: 150px;
  height: auto;
  margin-top: 30%;
  margin-left: 35%;
}

.LoginSuccess {
  font-family: Urbanist, sans-serif;
  margin-top: 30px;
  margin-left: 9%;
  font-size: 26px;
  text-align: center;
}

@media (max-width: 991px) {
  .LoginContainer {
    flex-direction: column;
    align-items: stretch;
    gap: 0;
  }

  .Logincolumn {
   padding: 0;
   width: 100%;
  }

  /* .CreateAccount {
    max-width: 100%;
    margin-top: 3vh;
    margin-right: 30vw;
    padding: 0;
  } */
  .Forgot a{
    margin-left: 20%;
  }
  .Create {
    visibility: hidden;
  }

  .Signup {
    visibility: hidden;
  }

  .Logincolumn-2 {
    width: 100%;
    margin: 0;
  }

  .Auth {
    max-width: 100%;
    margin-top: -190px;
  }

  .Login-title {
    max-width: 100%;
    font-size: 40px;
    margin-bottom: 100px;
    margin-top: -45%;
    margin-left: 0%;
    margin-right: 90%;
    z-index: 1;
    color: white;
  }

  .Email {
    max-width: 100%;
  }

  .Line1 {
    max-width: 100%;
    margin-right: 0px;
  }
  .Line2{
    max-width: 100%;
    margin-right: 0px;
  }

  .Password {
    max-width: 100%;
    margin-top: 40px;
  }

  .LoginButton {
    max-width: 100%;
    margin: 50px 10px 0 0;
    padding: 0 60px;
  }

  .Or {
    margin-top: 40px;
  }

  .SigninWithGoogle {
    max-width: 100%;
    flex-wrap: wrap;
    margin: 40px 10px 0 0;
    padding: 0 20px;
  }
}

@media (max-width: 992px) {
  .Loginimg-1 {
    height: 17%;
    width: 100%;
  }
}
