  .LoginContainer {
    gap: 100px;
    display:flex;
  }
  @media (max-width: 991px) {
    .LoginContainer {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .Logincolumn {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 50%;
  }
  @media (max-width: 991px) {
    .column {
      width: 100%;
    }
  }
  .CreateAccount {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: #fff;
    align-items: center;
  }
  @media (max-width: 991px) {
    .CreateAccount {
      max-width: 100%;
      margin-top: 0px;
      padding: 0 0px;
    }
  }

  .Loginimg-1 {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 45%;
    object-fit:fill;
    object-position: justify;
    background: url("/src/Components/Images/Login.jpeg");
    height: auto;
    background-repeat: no-repeat;
  }
  @media(max-width:992px) {
    .Loginimg-1{
      height: 20%;
      width: 101%;
    }
    
  }
  .Create {
    position: relative;
    margin-top: 50%;
    font: 500 25px Inter, sans-serif;
  }
  @media (max-width: 991px) {
    .Create {
      max-width: 100%;
      margin-top: 0vh;
      margin-left: 20vw;
    }
    .Signup{
      
    }
  }
  .Signup {
    position: relative;
    border-radius: 30px;
    border-color: rgba(255, 255, 255, 1);
    border-style: solid;
    border-width: 2px;
    background-color: rgba(17, 89, 5, 0);
    margin-top: 30px;
    justify-content: center;
    padding: 8px 22px;
    font: 600 18px Inter, sans-serif;
    
  }

  .Signup a{
    text-decoration: none;
    color: white;
  }
  .Signup a:hover{
    color: #136b04;
  }

  .Signup a:visited{
    color: white;
  }

  .Signup a:visited:hover{
    color: #136b04;
  }

  @media (max-width: 991px) {
    .Signup {
      margin-top: 40px;
      padding: 0 20px;
    }
  }
  .Logincolumn-2 {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-right: 3vw;
    height: auto;
  }
  @media (max-width: 991px) {
    .column-2 {
      width: 100%;
    }
  }
  .Auth {
    display: flex;
    flex-direction: column;
    color: #000;
    margin-top: 8vh;
    padding: 0 100px;
  }
  @media (max-width: 991px) {
    .Auth {
      max-width: 100%;
      margin-top: 40px;
    }
    
  }
  .Login-title {
    font: 600 30px Inter, sans-serif;
    margin-bottom: 2vh;

  }
  @media (max-width: 991px) {
    .Login {
      max-width: 100%;
      font-size: 40px;
    }
  }

  input[type="email"] {
    margin-top: 10%;
    padding: 4px;
    border: none;
    border: 0px solid #ffffff;
    border-radius: 0px;
    font-size: 16px;
    outline: none;
  }

  input[type="email"]::placeholder{
    color: #000;
  }

  input[type="password"] {
    padding: 4px;
    border: none;
    border: 0px solid #ffffff;
    border-radius: 0px;
    font-size: 16px;
    outline: none;
  }

  input[type="password"]::placeholder{
    color: #000;
  }
  
  @media (max-width: 991px) {
    .Email {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  .Line1 {
    border-color: rgba(0, 0, 0, 1);
    border-style: solid;
    border-width: 0px;
    background-color: #000;
    margin-top: 0px;
    height: 2px;
  }
  @media (max-width: 991px) {
    .Line1 {
      max-width: 100%;
    }
  }
  .Password {
    margin-top: 70px;
    font: 13px Kdam Thmor, sans-serif;
  }
  @media (max-width: 991px) {
    .Password {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  .Line2 {
    border-color: rgba(0, 0, 0, 1);
    border-style: solid;
    border-width: 0px;
    background-color: #000;
    height: 2px;
    margin-bottom: 8px;
  }
  @media (max-width: 991px) {
    .Line2 {
      max-width: 100%;
    }
  }
  .Forgot a{
    text-decoration: none;
    color: #0c3e03;
    letter-spacing: -0.72px;
    align-self: end;
    margin-top: 2vh;
    margin-left: 73.5%;
    font: 24px Kdam Thmor, sans-serif;
    font-size: 15px;
  }


  .LoginButton {
    font-family: Inter, sans-serif;
    border-radius: 30px;
    border-width: 1px;
    background-color: #136b04;
    align-items: center;
    color: #fff;
    font-weight: 500;
    font-size: 15px;
    justify-content: center;
    margin-top: 45px ;
    padding: 6px 175px;
    text-decoration: none;
    cursor: pointer;
  }

.LoginButton a{
  text-decoration: none;
}

.LoginButton :visited{
  color: white;  
}

  @media (max-width: 991px) {
    .LoginButton {
      max-width: 100%;
      margin: 40px 10px 0 0;
      padding: 0 20px;
    }
  }
  .Or {
    font-family: Inter, sans-serif;
    font-weight: 600;
    font-size: 17px;
    align-self: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  @media (max-width: 991px) {
    .Or {
      margin-top: 40px;
    }
  }
  .SigninWithGoogle {
    border-radius: 10px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    border-width: 1.5px;
    display: flex;
    gap: 20px;
    padding: 3px;
    width: 30vw;
    align-self: center;
    cursor: pointer;
  }
  @media (max-width: 991px) {
    .SigninWithGoogle {
      max-width: 100%;
      flex-wrap: wrap;
      margin: 40px 10px 0 0;
      padding: 0 20px;
    }
  }
  .Loginimg-2 {
    aspect-ratio: 2;
    object-position: center;
    width: 20px;
    margin-left: 20%;
    margin-top: 2px;
  }
  .Google {
    font-family: Inter, sans-serif;
    align-self: start;
    margin-top: 2.5px;
    flex-grow: 1;
    flex-basis: auto;
    font-weight: 500;
    font-size: 17px
  }

  .Loginimg-3 {
    width: 150px; /* Adjust size as needed */
    height: auto; /* Maintain aspect ratio */
    margin-top: 30% ;
    margin-left: 35%;
  }
  .LoginSuccess {
    font-family: Urbanist, sans-serif;
    margin-top: 30px;
    margin-left: 9%;
    font-size: 26px;
    text-align: center;
  }