.Accountdiv {
    display: flex;
    flex-direction: column;
    position: relative;
    width:75%;
    left: 25%;
    margin-top: -40.88%;
    align-items: center;
  }

  @media (max-width: 991px) {
    .Accountdiv {
      padding-left: 20px;
    }
  }
  .AccountBody{
    background: linear-gradient(92deg, #000 22.62%, #06470c 83.81%);
    width: 100%;
    max-width: 100%;
    padding: 50px 0px;
    align-self: flex-start;
  }
  @media (max-width: 991px) {
    .AccountBody {
      padding: 0 20px;
    }
  }
  .Accountdiv-3 {
    margin-left: 13%;
    gap: 40px;
    display: flex;
  }
  @media (max-width: 991px) {
    .Accountdiv-3 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .Accountcolumn {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 8%;
  }
  @media (max-width: 991px) {
    .Accountcolumn {
      width: 100%;
    }
  }
  .ProfileImg {
    border-radius: 50%;
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 150px;
    max-width: 100%;
  }
  @media (max-width: 991px) {
    .img {
      margin-top: 40px;
    }
  }
  .Accountcolumn-2 {
    display: flex;
    flex-direction: column;
    line-height: normal;
  }
  @media (max-width: 991px) {
    .Accountcolumn-2 {
      width: 100%;
    }
  }
  .Account{
    color: #ffffff;
    text-decoration-line: underline;
    align-self: stretch;
    margin: auto 0;
    font: 600 42px Koh Santepheap, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  @media (max-width: 991px) {
    .Account {
      max-width: 100%;
      margin-top: 40px;
      font-size: 40px;
    }
  }
  .EditProfile {
    color: #000;
    align-self: flex-start;
    margin-top: 4%;
    margin-bottom: 3%;
    text-decoration: underline;
    font: 600 28px Koh Santepheap, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  @media (max-width: 991px) {
    .EditProfile {
      margin-top: 40px;
    }
  }
  .Accountdiv-6 {
    display: flex;
    width: 600px;
    max-width: 100%;
    gap: 50px;
    font-size: 16.5px;
    color: #000;
    font-weight: 500;
    white-space: nowrap;
    margin: 9px 0 0 0;
    align-self: flex-start;
  }
  @media (max-width: 991px) {
    .Accountdiv-6 {
      flex-wrap: wrap;
      white-space: initial;
      margin: 40px 10px 0 0;
    }
  }
  .Accountdiv-7 {
    display: flex;
    align-self: flex-start;
    flex-direction: column;
    flex: 1;
    flex-grow: 1;
    flex-basis: 0;
  }
  @media (max-width: 991px) {
    .Accountdiv-7 {
      white-space: initial;
    }
  }
  .AccountFirstName {
    font-family: Inter, sans-serif;
    align-self: start;
    margin-left: 5px;
  }
  @media (max-width: 991px) {
    .AccountFirstName {
      margin-left: 10px;
    }
  }
  .Accountdiv-9 {
    border-radius: 6px;
    border-color: rgba(0, 0, 0, 1);
    border-style: solid;
    border-width: 1.5px;
    background-color: #fff;
    margin-top: 4px;
    height: 25px;
  }
  .Accountdiv-10 {
    display: flex;
    flex-direction: column;
    flex: 1;
    flex-grow: 1;
    flex-basis: 0;
    width: fit-content;
  }
  @media (max-width: 991px) {
    .Accountdiv-10 {
      white-space: initial;
    }
  }

  .Accountdiv-13 {
    display: flex;
    width: 872px;
    max-width: 100%;
    gap: 20px;
    font-size: 20px;
    color: #000;
    font-weight: 500;
  }
  @media (max-width: 991px) {
    .Accountdiv-13 {
      margin-right: 10px;
      flex-wrap: wrap;
    }
  }
  .Accountdiv-14 {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    flex: 1;
    flex-grow: 1;
    flex-basis: 0;
    width: fit-content;
  }
  @media (max-width: 991px) {
    .Accountdiv-14 {
      white-space: initial;
    }
  }
  .AccountEmail{
    font-family: Inter, sans-serif;
    align-self: start;
    margin-left: 55px;
  }
  @media (max-width: 991px) {
    .AccountEmail {
      margin-left: 10px;
    }
  }
  .Accountdiv-16 {
    border-radius: 13px;
    border-color: rgba(0, 0, 0, 1);
    border-style: solid;
    border-width: 2px;
    background-color: #fff;
    margin-top: 15px;
    height: 54px;
  }

  .Accountdiv-23 {
    gap: 20px;
    display: flex;
  }
  @media (max-width: 991px) {
    .Accountdiv-23 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .Accountcolumn-3 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 50%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .Accountcolumn-3 {
      width: 100%;
    }
  }
 
  .AccountSave {
    border-radius: 10px;
    background-color: #06470c;
    align-self: flex-end;
    margin-top: 16px;
    margin-left: 81%;
    color: #fff;
    justify-content: center;
    padding: 5px 5px;
    font: 700 15px Koh Santepheap, -apple-system, Roboto, Helvetica,
      sans-serif;
  }