body, html {
  height: 100%;
  margin: 0;
}

.Accountdiv {
  font-family: 'Inter', sans-serif;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-color);
  height: 100vh;
  width: 75%;
  margin-top: -47.2%;
  margin-left: 25%;
  overflow: hidden;
  position: absolute;
}

.AccountBody {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin-bottom: 2em;
  background-color: var(--foreground-color);
  padding: 2em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.151);
}

.Accountdiv-3 {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 15vw;
  margin-left: 2vw;
}

.Accountcolumn {
  flex: 1;
  display: flex;
  justify-content: center;
}

.Profile {
  width: 50px;
  height: 50px;
  padding: 0.3rem;
  border-radius: 50%;
  object-fit: fill;
  border: 3px solid var(--secondary-text-color);
  color: var(--text-color);
}

.PasswordImg{
  width: 40px;
  height: 40px;
  padding: 0.6rem;
  border-radius: 50%;
  object-fit: fill;
  border: 3px solid var(--secondary-text-color);
  color: var(--text-color);
}

.Accountcolumn-2 {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Account {
  font-size: 2.5em;
  font-weight: 600;
  color: var(--text-color);
}

.SettingsAccountBody {
  margin-top: 6.2vh;
  align-self: center;
  width: 75%;
  background-color: var(--foreground-color);
  padding: 2em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.EditProfile {
  font-size: 25px;
  font-weight: 500;
  color: var(--secondary-text-color);
  margin-bottom: 1.2em;
  margin-top: 2vh;
}
.EditProfile2 {
  font-size: 25px;
  font-weight: 500;
  color: var(--secondary-text-color);
  margin-bottom: 1.2em;
  margin-top: 2vh;
}

.Accountdiv-6 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5em;
}

.Accountdiv-7, .Accountdiv-10 {
  flex: 1;
  margin-right: 1em;
}

.AccountFirstName {
  font-size: 16px;
  color: var(--text-color);
  margin-bottom: 0.5em;
}

.Accountdiv-9 {
  width: 18rem;
  padding: 1.5vh;
  border: 1px solid var(--text-color);
  border-radius: 5px;
}

.EditIcon{
  color: var(--text-color);
  margin-left: 40vw;
  width: 25px;
}

.EditIcon2{
  color: var(--text-color);
  margin-left: 400px;
  width: 25px;
}

.EditIcon:hover,.EditIcon2:hover{
  color: var(--secondary-text-color);
  cursor: pointer;
  content: "hello";
}

.input [classname='email']{
  color: var(--text-color);
}

.AccountSave {
  background-color: #105a03;
  color: #fff;
  padding: 0.5em 2em;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 83%;
  margin-top: 7vh;
}

.AccountSave:hover {
  background-color: #0f5b03a0;
  color: var(--text-color);
}

@media (max-width: 768px) {
  .AccountBody, .SettingsAccountBody {
      flex-direction: column;
      padding: 1em;
  }

  .Account {
      font-size: 1.5em;
  }

  .EditProfile {
      font-size: 1.2em;
  }

  .AccountFirstName {
      font-size: 1em;
  }

  .Accountdiv-6 {
      flex-direction: column;
  }

  .Accountdiv-7, .Accountdiv-10 {
      margin-right: 0;
      margin-bottom: 1em;
  }
}

@media (max-width: 480px) {
  .ProfileImg {
      width: 75px;
      height: 75px;
  }

  .Account {
      font-size: 1.2em;
  }

  .EditProfile {
      font-size: 1em;
  }

  .AccountFirstName {
      font-size: 0.9em;
  }

  .AccountSave {
      font-size: 0.9em;
      padding: 0.5em 1.5em;
  }
}
