body, html {
  height: 100vh;
  margin: 0;
}

.settings-account-container {
  display: flex;
  height: 100vh;
  transition: width 0.3s ease;
}

.settings-account-container.collapsed .Accountdiv {
  width: 100vw; /* Full width when sidebar is collapsed */
}

.settings-account-container:not(.collapsed) .Accountdiv {
  width: 80vw; /* 75% width when sidebar is expanded */
}

.help-container {
  display: flex;
}

.help-container.collapsed .Accountdiv {
  width: 100%;
}

.Accountdiv {
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-color);
  height: 100vh;
  transition: width 0.3s ease;
  position: relative;
  padding-top: 0;
  width: 75vw; /* Adjust width for non-collapsed state */
}

.AccountBody {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background-color: var(--foreground-color);
  padding-top: 2em;
  padding-bottom: 2em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.151);
}

.Accountdiv-3 {
  display: flex;
  align-items: center;
  width: 100%;
  margin-left: 2vw;
}

.Accountcolumn {
  flex: 1;
  display: flex;
  justify-content: center;
}

.Profile {
  width: 55px;
  height: 55px;
  padding: 7px;
  border-radius: 50%;
  object-fit: fill;
  border: 3px solid var(--secondary-text-color);
  color: var(--text-color);
}

.PasswordImg {
  width: 40px;
  height: 40px;
  padding: 0.6rem;
  border-radius: 50%;
  object-fit: fill;
  border: 3px solid var(--secondary-text-color);
  color: var(--text-color);
}

.Accountcolumn-2 {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Account {
  font-size: 45px;
  font-weight: 600;
  color: var(--text-color);
}

.SettingsAccountBody {
  margin-top: 7vh;
  align-self: center;
  background-color: var(--foreground-color);
  padding: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  justify-content: center;
}

.EditProfile {
  font-size: 25px;
  font-weight: 500;
  color: var(--secondary-text-color);
  margin-bottom: 30px;
  margin-top: 2vh;
}

.EditProfile2 {
  font-size: 25px;
  font-weight: 500;
  color: var(--secondary-text-color);
  margin-bottom: 30px;
  margin-top: 2vh;
}

.Accountdiv-6 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  gap: 50px;
}

.Accountdiv-7, .Accountdiv-10 {
  flex: 1;
  align-items: center;
}

.AccountFirstName {
  font-size: 16px;
  color: var(--text-color);
  margin-bottom: 15px;
}

.Accountdiv-9, input[name="mail"], .input[name="firstName"], .input[name="lastName"] {
  width: 18rem;
  padding: 1.5vh;
  border: 1px solid var(--text-color)!important;
  border-radius: 5px;
}


.EditIcon {
  color: var(--text-color);
  width: 25px;
  margin-left: 490px;
}
.EditIcon2{
  color: var(--text-color);
  width: 25px;
  margin-left: 380px;
}

.EditIcon:hover,.EditIcon2 :hover{
  color: var(--secondary-text-color);
  cursor: pointer;
}

.AccountSave {
  background-color: #105a03;
  color: #fff;
  padding: 0.5em 2em;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 50vw;
  margin-top: 0vh;
}

.AccountSave:hover {
  background-color: #0f5b03a0;
  color: var(--text-color);
}
@media screen and (min-width:803px) {
  .SettingsAccountBody {
    width: fit-content;
  }
  
}
@media (max-width: 800px) {  
  .Account {
    font-size: 6vw;
  }
  
  .SettingsAccountBody {
    width: 75vw;
  }
  
  .EditProfile {
    font-size: 25px;
    font-weight: 500;
    color: var(--secondary-text-color);
    margin-bottom: 30px;
    margin-top: 2vh;
  }
  
  .EditProfile2 {
    font-size: 25px;
    font-weight: 500;
    color: var(--secondary-text-color);
    margin-bottom: 30px;
    margin-top: 2vh;
  }
  
  .Accountdiv-6 {
    gap: 10px;
  }
  
  .Accountdiv-9 {
    width:30vw;
    padding: 1.5vh;
    border: 1px solid var(--text-color);
    border-radius: 5px;
  }
  
  .EditIcon  {
    margin-left: 300px;
  }
  .EditIcon2{
    margin-left: 230px;
  }
}

@media screen and (max-width:641px) {
  .Account {
    font-size: 8vw;
  }
  
  .Accountdiv-9 {
    width:30vw;
    padding: 1.5vh;
    border: 1px solid var(--text-color);
    border-radius: 5px;
  }
  
  .EditIcon,.EditIcon2  {
    margin-left: 260px;
  }
  .EditIcon2{
    margin-left: 180px;
  }
}

@media screen and (max-width:561px) {
  .EditIcon {
    margin-left: 100px;
  }
  .EditIcon2{
    margin-left: 0px;
  }
}

@media screen and (max-width:345px) {
  .EditIcon,.EditIcon2  {
    margin-left: 0px;
  }
}
